In [1]:
import pandas as pd
import numpy as np

from datetime import datetime
import pickle

from utilities import EIA_API_Call, fix_date
import requests

## Get the demand data

In [2]:
API_key = 'dd7abd1db8427ad2179aaf52f8ac5d86'

In [4]:
# collect electricity data for Seattle using data provided by Seattle City Light
REGION_CODE = 'SCL'

# make call
url = requests.get('http://api.eia.gov/category/?api_key=%s&category_id=3389916' % (API_key)).json()
forecast_df = EIA_API_Call(url, 'DEMAND')

KeyError: 'series'

In [6]:
# collect electricity data for Seattle using data provided by Seattle City Light
REGION_CODE = 'SCL'

# make call
url = requests.get('http://api.eia.gov/series/?api_key=%s&series_id=EBA.%s-ALL.D.H' % (API_key, REGION_CODE)).json()
electricity_df = EIA_API_Call(url, 'DEMAND')

In [7]:
electricity_df.tail()

                           DEMAND
DATE
2021-03-18 10:00:00+00:00   855.0
2021-03-18 11:00:00+00:00   859.0
2021-03-18 12:00:00+00:00   892.0
2021-03-18 13:00:00+00:00   986.0
2021-03-18 14:00:00+00:00   992.0

In [8]:
electricity_df.describe()

             DEMAND
count  50011.000000
mean    1094.575753
std      220.947317
min        0.000000
25%      953.000000
50%     1088.000000
75%     1230.000000
max    11583.000000

In [9]:
with open('new_electricity_data.pkl', 'wb') as picklefile:
    pickle.dump(electricity_df, picklefile)

## Get the weather data

In [7]:
noaa_df = pd.read_csv("https://www.ncei.noaa.gov/orders/cdo/2497630.csv")
noaa_df.head()

/Users/michaeljehl/opt/anaconda3/envs/metis/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (3,19,25,26,27,28,29,35,36,41,42,43,48,49,51,53,55,56,58,59,63,95,110,114,117,119) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate
0,72793524234,2015-07-01T00:53:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-05-17
1,72793524234,2015-07-01T01:53:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-05-17
2,72793524234,2015-07-01T02:53:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-05-17
3,72793524234,2015-07-01T03:53:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-05-17
4,72793524234,2015-07-01T04:53:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-05-17

In [8]:
with open('weather_data.pkl', 'wb') as picklefile:
    pickle.dump(noaa_df, picklefile)

### Clean weather df to match one per hour -> in other notebook